// 中性色
$color-default-title                :   #262626 !default;
$color-default-text                 :   #404040 !default;
$color-default-sub                  :   #777777 !default;
$color-default-placeholder          :   #7f7f7f !default;
$color-default-disabled             :   #cbcbcb !default;
$color-default-border               :   #e4e4e4 !default;
$color-default-divider              :   #eaeaea !default;
$color-default-background           :   #fcfcfc !default;
